.banner1_services{
  background-image: url("../resources/playa.png") !important;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center;
}
.banner2_habana{
  background-image: url("../resources/habana.png") !important;
  background-size:  cover !important;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 125px !important;
}
.card_visit_cuba{  
  margin-bottom: -35px !important;
  background-color: rgba(253, 189, 49, 0.85) !important;
   
}
@media (min-width: 992px) {
  .banner2_habana{
    min-height: 300px !important;  
  }
  .card_visit_cuba{  
  margin-top: 150px !important;  
     
  }
}

